card{
    padding: 15px;
}

ul {
    width: 15%;
    border-style: groove;
    border-color: rgb(81, 165, 165);
    border-width: 3px;
    padding: auto;
    float: right;
    position: relative;
    transform: translate(-50%, -50%);
    top: 100px;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}